
  .site-layout-background {
    background: #fff !important;
  }

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .site-layout{
      padding-left: 5rem;
  }